@import "../node_modules/bootstrap/scss/bootstrap";

$blue: #4834D4;
$red: #EB4D4B;

@mixin button() {
    outline: none;
    border: none;
    height: 4rem;
    width: 16rem;
    background: $blue;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin: .5rem 0;
    border-radius: 5rem;

    &:hover{
        background: $red;
        letter-spacing: .1rem;
    }
}

@mixin heading() {
    color: $blue;
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    margin: 2rem 0;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        bottom: -1rem; left: 50%;
        transform: translateX(-50%);
        height: .3rem;
        width: 60%;
        background: $red;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,600;1,700&family=Open+Sans:wght@300;400;600&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s cubic-bezier(.37,1.14,.26,1.24);
    a:link, a:visited, a:active, #user-session {
        text-decoration:none;
    }
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    height: auto;
}

/* header part */

header{
    .header-1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        width: 100%;
        z-index: 1000;

        .logo{
            font-size: 3rem;
            color: #666;

            i{
                color: #2980b9;
            }
        }
    }
    .form-container{
        form{
            display: flex;

            #searchIndex, #searchUser, #searchNews, #searchProd, #searchReview, #searchContact, #searchFavs, #searchCart{
                height: 4rem;
                width: 50rem;
                outline: none;
                border: .2rem solid #666;
                font-size: 1.5rem;
                padding: 0 1rem;

                &:focus{
                    border-color: #2980b9;
                }
            }

            label{
                height: 4rem;
                width: 5rem;
                text-align: center;
                line-height: 4rem;
                font-size: 2rem;
                cursor: pointer;
                background: #2980b9;
                color: #fff;

                &:hover{
                    color: yellow;
                }
            }
        }
    }

    .header-2{
        background: #2980b9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        width: 100%;
        z-index: 1000;

        .navbar{
            ul{
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: bold;

                li{
                    margin: 0 1rem;

                    a{
                        font-size: 2rem;
                        color: #fff;

                        &:hover{
                            color: yellow;
                        }
                    }
                    .active{
                        color: yellow;
                    }
                }
            }
        }

        .icons{
            a{
                color: #fff;
                font-size: 2rem;
                padding: 0 1rem;

                &:hover{
                    color: yellow;
                }
            }
        }

        #user-session{
            font-size: 2rem;
            color: yellow;
            font-family: 'Open Sans';
            font-weight: bold;
        }
    }
}

/* Search part */

#resultado{
    position: absolute;
    background-color: rgba(190, 190, 190, 0.596);
    font-size: 18px;
    width: 28.9%;
    display: none;
}

#contenedor{
    text-decoration: none;
    font-weight: bold;

    a{
        color: black;  
    }
}

/* home part */

#home{
    background-color: #333;

    .slide{
        min-height: 60vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .image{
            img{
                width: 30vw;
                height: 70vh;
            }
        }

        .content{
            h1{
               font-size: 4rem;
               color: #fff;    
            }
            p{
                font-size: 1.7rem;
                color: #ccc;
            }
            .stars{
                margin: 1rem;

                i{
                    font-size: 1.5rem;
                    padding-right: .4rem;
                    color: gold;
                }
            }
            .price{
                color: $red;
                font-size: 3.5rem;
                margin: .5rem 0;
            }
            button{
                @include button();
            }
        }
        .image{
            img{
                margin-left: 15rem;
            }
        }
    }

    .owl-nav{
        .owl-next, .owl-prev{
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            color: $red;
            font-size: 6rem;
            background: none;
            border: none;
            outline: none;
        }
        .owl-next{
            right: 1rem
        }
        .owl-prev{
            left: 1rem
        }
    }

    .owl-dots{
        position: absolute;
        bottom: 15%; left: 50%;
        transform: translateX(-50%);

        .owl-dot{
            border: none;
            outline: none;
        }
    }
}

#brand{

    .brand-slider{
        img{
            height: 9rem;
            width: 15rem;
            margin: 4rem auto;
        }
    }
}

/* product part */

#product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100vw;

    .heading{
        @include heading();
    }

    .product-container{
        width: 90%;

        .owl-nav{
            .owl-next, .owl-prev{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: $red;
                font-size: 6rem;
                background: none;
                border: none;
                outline: none;
            }
            .owl-next{
                right: 1rem
            }
            .owl-prev{
                left: 1rem
            }
        }

        .title{
            font-size: 3rem;
            color: $red;
            margin-top: 10rem;
            margin-left: 6rem;
        }

        .product-slider{
            .product-card{
                height: 40rem;
                width: 30rem;
                margin: 2rem auto;
                box-shadow: 0 0 .3rem rgba(0,0,0,.5);
                border-radius: .5rem;
                position: relative;

                .image{
                    height: 75%;
                    width: 100%;

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .content{
                    height: 25%;
                    width: 100%;
                    text-align: center;

                    h3{
                        font-size: 3rem;
                        color: $blue;
                    }
                    .stars{
                        i{
                            color: gold;
                        }
                    }
                    .price{
                        font-size: 2rem;
                        color: $red;
                        font-weight: bold;
                    }
                }

                .info{
                    position: absolute;
                    top: 0; left: 0;
                    height: 100%;
                    width: 100%;
                    background: #333;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column;
                    transition-delay: .2s;
                    transform: scale(0);

                    h4{
                        font-size: 4rem;
                        color: #fff;
                    }
                    p{
                        font-size: 1.2rem;
                        padding: 1rem 2rem;
                        color: #ccc;
                        text-align: center;
                    }
                    button{
                        @include button();
                        margin-top: 1rem;
                        background: $red;
                        color: #000;

                        &:hover{
                            background: $blue;
                        }
                    }

                    .cart{
                        margin-top: 1rem;
                        a{
                            font-size: 2rem;
                            height: 4rem;
                            width: 4rem;
                            line-height: 4rem;
                            text-align: center;
                            background: #fff;
                            color: $red;
                            margin: 0 .5rem;
                            border-radius: 5rem;

                            &:hover{
                                text-decoration: none;
                                background: $red;
                                color: #fff;
                            }
                        }
                    }
                }

                &:hover .info{
                    transform: scale(1);
                }
            }
        }
    }
}

/* review part */

#review{
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: url(../images/review-bg.jpg), linear-gradient(#b3e0ff, #67aeff) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: screen;
    position: relative;

    .owl-nav{
        .owl-next, .owl-prev{
            position: absolute;
            top: 0%;
            transform: translateY(-50%);
            color: $red;
            font-size: 6rem;
            background: none;
            border: none;
            outline: none;
        }
        .owl-next{
            right: 5rem
        }
        .owl-prev{
            left: 5rem
        }
    }

    .heading{
        @include heading();
        padding-top: 8rem;
        color: $blue;

        &::after{
            background: $red;
        }
    }

    .box-container{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* image review part */

.review-slider{
            
    .box{
        display: flex;
        align-items: center;
        justify-content: center;

        .image{
            margin-top: 10rem;
            margin-left: 3rem;

            img{
                height: 10rem;
                width: 10rem;
                border-radius: 50% 50% 50% 0%;
                border: .5rem solid $red;
                background-color: black;
            }
        }
    }

    .comment{
        height: 20rem;
        width: 45rem;
        background: #fff;
        border-radius: 2% 2% 0% 40%;
        padding-top: 2rem;

        p{
            color: #333;
            font-size: 1.6rem;
            padding: 2rem;

            i{
                color: $red;
                font-size: 2rem;
                padding: 0rem .5rem;
            }
        }

        h3{
            text-align: end;
            color: $red;
            margin: .5rem 2rem;
            font-size: 2.5rem;
        }
    }
}

#add-review{
    height: 83.8vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,255,.4),rgba(0,0,255,.4)), url(../images/add-review-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem 0;
    text-align: center;

    h1{
        font-size: 4rem;
        color: #fff;
    }
    p{
        font-size: 2rem;
        color: #f9f9f9;
    }
    input[type="text"]{
        outline: none;
        border: none;
        background: #333;
        color: #fff;
        height: 4rem;
        width: 40rem;
        border-radius: .5rem;
        font-size: 1.5rem;
        padding: 1.5rem;

        &::placeholder{
            color: #ccc;
        }
    }

    textarea{
        outline: none;
        border: none;
        background: #333;
        color: #fff;
        border-radius: .5rem;
        font-size: 1.5rem;
        padding: 1.5rem;
        resize: none;

        &::placeholder{
            color: #ccc;
        }
    }

    input[type="submit"]{
        @include button();
        margin-top: 2rem;
        background: $red;
        color: #000;

        &:hover{
            background: $blue;
        }
    }
}

/* contact part */

#contact{
    height: 75vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,255,.4),rgba(0,0,255,.4)), url(../images/letter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem 0;
    text-align: center;

    h1{
        font-size: 4rem;
        color: #fff;
    }
    p{
        font-size: 2rem;
        color: #f9f9f9;
    }
    input[type="text"]{
        outline: none;
        border: none;
        background: #333;
        color: #fff;
        height: 4rem;
        width: 40rem;
        border-radius: .5rem;
        font-size: 1.5rem;
        padding: 1.5rem;

        &::placeholder{
            color: #ccc;
        }
    }

    textarea{
        outline: none;
        border: none;
        background: #333;
        color: #fff;
        border-radius: .5rem;
        font-size: 1.5rem;
        padding: 1.5rem;
        resize: none;

        &::placeholder{
            color: #ccc;
        }
    }

    input[type="submit"]{
        @include button();
        margin-top: 2rem;
        background: $red;
        color: #000;

        &:hover{
            background: $blue;
        }
    }
}

/* footer part */

#footer{
    padding: 2rem 0;
    background: #333;
    width: 100vw;

    .row{
        width: 100%;
        margin: 0;
    }

    .brand-info{
        margin: 1rem;
        padding: 0;

        a{
            color: #fff;

            &:hover{
                text-decoration: none;
            }

            i{
                padding: 0 .5rem;
                font-size: 2rem;
            }
            h3{
                display: inline;
                font-size: 2rem;
            }
        }
        p{
            color: #ccc;
            padding: 2rem;
            margin: 0;
            font-size: 1.5rem;
        }
    }

    .links, .follow-us{
        padding: 0;
        margin: 1rem;

        h3{
            font-size: 2rem;
            color: #fff;
        }

        .nav-links, .follow-us-links{
            display: flex;
            flex-flow: column;

            a{
                color: #ccc;
                font-size: 1.5rem;
            }
        }
    }

    .credit{
        color: #fff;
        font-size: 2rem;
        padding-top: 1.5rem;
        width: 100%;
        border-top: .1rem solid rgba(255,255,255,.5);

        span{
            color: $red;
            font-weight: bold;
        }
    }
}

/* media queries */
  
@media (max-width:768px) {

    html{
        font-size: 55%;

        header{
            .header-1{
                flex-flow: column;
                .form-container{
                    form{
                        #search{
                            width: 100%;
                        }
                    }
                }
            }
            .header-2{
                flex-flow: column;
            }
        }
    }

    #home{
        padding-bottom: 4rem;

        .owl-dots{
            display: none;
        }

        .slide{
            flex-flow: column-reverse;

            .content{
                padding: 1rem;

                h1{
                    font-size: 3rem;
                }
                p {
                    font-size: 1.5rem;
                }
                .stars{
                    height: 3rem;
                }
                .price{
                    font-size: 3rem;
                }
            }   
            .image{
                img{
                    width: 45vw;
                }
            }
        }
    }

    #product{
        .product-container{
            .title{
                margin-left: 0;
                text-align: center;
            }
        }
    }

    #loadProducts{
        display: none;
    }
}

@media (max-width:600px){

    header{
        .header-1{
            flex-flow: column;
            padding: 1rem;

            .logo{
                padding-bottom: 1.5rem;
            }
        }
        .header-2{
            flex-flow: column;
            padding: 1rem;

            .icons{
                padding-bottom: 1.5rem;
            }
        }
    }

    #home{
        .slide{
            .image{
                img{
                    margin-right: 10rem;
                    width: 80vw;
                    height: 70vh;
                }
            }
        }
    }

    #loadProducts{
        display: block;
    }

    #review{
        height: 70vh;

        .heading{
            padding-top: 10rem;
        }
        .box-container{
            .review-slider{
                .box{
                    position: relative;
                    height: 40vh;

                    .image{
                        position: absolute;
                        top: 0;
                        margin: 0;

                        img{
                            border-radius: 5rem;
                        }
                    }

                    .comment{
                        border-radius: 1rem;
                        text-align: center;
                        width: 35rem;

                        h3{
                            text-align: center;
                            margin-top: -2rem;
                        }
                    }
                }
            }
        }
    }

    #contact{
        height: 65vh;

        h1{
            font-size: 4rem;
        }
        p{
            font-size: 2rem;
        }
    }
}